<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Beer x</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" data-scroll href="#home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-scroll href="#novedades">Novedades</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-scroll href="#historia" tabindex="-1" aria-disabled="true">Historia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-scroll href="#nosotros">Nosotros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-scroll href="#conocenos">Conocenos</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <div id="home" class="row align-items-center hero">
        <div class="col-lg-3 offset-lg-2">
            
            <h1>BEER X</h1>
            <p>Hola, nosotros somos BEER X una de las mejores cerbezas del mercado. Con un lugar unico e inigualable, para venir a disfrutar tanto solo o con amigos. 
                Todas las semanas eventos con bandas y promociones irresistibles. Te invitamos a pasar por nustro local, que esta en Patagones 380.
                Pero antes conocenos en nuestra pagina web   </p>

        </div>

    </div>
    <div id="novedades" class="row py-4">
        <div class="col-md-5 offset-md-2 py-3">
            <h2>Novedades</h2>
            <ul class="lista-novedades">
                {{#each novedades}}
                <li><a href="javascript:void(0);" data-toggle="modal" data-target="#modal{{id}}"><img
                            src="{{imagen}}">{{titulo}}</a></li>
                {{/each}}
            </ul>

        </div>

        <div class="col-md-3">
            <div class="rounded py-3 testimonios">
                <h2 class="text-center">Testimonios</h2>
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="testimonio">
                                <h5>Javier Santaola</h5>
                                <p>"La mejor birra del mundo"</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="testimonio">
                                <h5>Juan Enrique</h5>
                                <p>"El lugar y la atencion increibles"</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="testimonio">
                                <h5>Victoria Perez </h5>
                                <p>"La comida del lugar es unica, super recomendable"</p>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

         {{!-- inicio modal --}}
            {{#each novedades}}
            <div class="modal fade" id="modal{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-totle" id="exampleModalLable">{{titulo}}</h4>

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="modal-body">
                            <h5>{{subtitulo}}</h5>
                            <img src="{{imagen}}" alt="{{subtitulo}}">
                            <p>{{cuerpo}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
            {{!-- fin modal --}}

        </div>

    </div>
    <!-- fin de novedades -->
    <!-- inicio historia -->
    <div id="historia" class="row align-items-center py-4">
        <div class="col-lg-2 col-md-3 offset-lg-2 d-none d-sm-block">
            <img src="images/historia_1.jpg" alt="historia 1" class="img-fluid">
        </div>
        <div class="col-lg-2 col-md-3 d-none d-sm-block">
            <img src="images/historia_2.jpg" alt="historia 2" class="img-fluid">
        </div>
        <div class="col-lg-4 col-md-6 mt-4 mt-sm-0">
            <h2>Historia</h2>
            <p>Todo arranco, con una joda entre amigos amantes de la cerbeza, entre risas y risas uno de nuestros amigos, creador de BEER X dijo en broma "Si tanto nos gusta la birra, porque nosotros no creamos una?", 
                desde ese moemnto lo que arranco como un chiste, se convirtio en realidad. Y ahora podemos otorgarles mas de 10 variedades en cervezas, un lugar en el que pasar un buen rato, comer rico 
                y escuchar buena musica. Esta es nuestra historia, te invitamos a conocernos y asi seguir creandola.

            </p>
        </div>
    </div>
    <!-- fin hisotoria -->
    <!-- inicio nosotros -->
    <div id="nosotros" class="row align-items-stretch my-3 staff py-4 staff">
        <div class="col-lg-8 offset-lg-2">
            <h2>Nosotros</h2>
            <div class="card-deck">
                <!-- inicio card-deck -->
                <div class="card">
                    <img src="images/nosotros01.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card title">Daiana Reyes</h5>
                        <p class="card-text">Hola soy Daiana Reyes, los chicos en el local me llaman Dai, soy la cajera del lugar. Me entuciasma mucho presentarme,
                            porque eso significa que estamos creciendo. </p>
                    </div>
                </div>
                <!-- fin card-deck -->
                <!-- inicio card-deck -->
                <div class="card">
                    <img src="images/nosotros02.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card title">Juan Perez</h5>
                        <p class="card-text">Hola mi nombre es Juan Perez, o Juancito, como quieran llamarme. Soy el barman del lugar, por ende soy el encargado de crearte felicidad.
                            Como puede ser con un trago, o con unas de nuestras cervezas bien frias.
                        </p>
                    </div>
                </div>
                <!-- fin card-deck -->
                <!-- inicio card-deck -->
                <div class="card">
                    <img src="images/nosotros03.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card title">Agustin Peralta</h5>
                        <p class="card-text">Hola soy Agustin Peralta, soy el encargado del lugar. Por mi pasan todas lasd deciciones para que el bar salga a flote, de igual manera 
                            en BEER X somos todos uno y no hay decision que tome, que no les consulte al resto. </p>
                    </div>
                </div>
                <!-- fin card-deck -->
                <!-- inicio card-deck -->
                <div class="card">
                    <img src="images/nosotros04.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card title">Javier Sanchez</h5>
                        <p class="card-text">Por ultimo estoy yo, Javer Sanchez. Yo soy el DJ del lugar, eso quiere decir que soy el encargado de hacer 
                            mover tu cuerpo, mientras te tomas una buena cerveza</p>
                    </div>
                </div>
                <!-- fin card-deck -->
            </div>

        </div>

    </div>
    <!-- fin nosotros -->
    <!-- inicio visitanos -->
    <div id="conocenos" class="row py-4">
        <div class="col-md-4 offset-md-2">
            <h2>Visitanos</h2>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3145.1034611794885!2d-57.55162558409164!3d-37.97471475104441!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9584dbe11ab36331%3A0xeed3e647884d5df3!2sPatagones%20380%2C%20B7600BXG%20Mar%20del%20Plata%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1655403287932!5m2!1ses-419!2sar"
                    style="border:0;"></iframe>
            </div>
        </div>
        <!-- fin visitanos -->
        <!-- inicio contacto -->
        <div class="col-md-4 mt-4 mt-sm-0">
            <h2>Contactanos</h2>
            <form action="/" method="post">

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" id="nombre" placeholder="" name="nombre">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="apellido">Apellido</label>
                        <input type="text" class="form-control" id="apellido" placeholder="" name="apellido">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="ejemplo@gmail.com"
                            name="email">
                    </div>
                    <div class="form-group">
                        <label for="tel">Tel</label>
                        <input type="text" class="form-control" id="tel" name="tel">
                    </div>
                </div>
                <div class="form-group">
                    <label for="mensaje">Mensaje</label>
                    <textarea class="form-control" id="mensaje" rows="4"></textarea>
                </div>

                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
            {{#if message}}
            {{message}}
            {{/if}}

        </div>
        <!-- fin contacto -->
    </div>




</div>
<footer>
    <p class="text-center">Diseñado por: Agustin ormeño 2022</p>
</footer>